* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 20em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-weight: bold;
    font-size: 400%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(350px) rotateX(18deg);
    &::after {
        position: absolute;
        content: ' ';
        left: 0;
        right: 0;
        top: 0;
        bottom: 60%;
        background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
        // pointer-events: none;
    }
    .star-content {
        position: absolute;
        top: 100%;
        animation: scroll 200s linear 0s infinite;
        animation-duration: 30s;
        text-align: center;
        h4 {
            padding-bottom: 40px;
        }
        p {
            text-align: start;
        }
    }
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -10%;
    }
}