* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 20em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-weight: bold;
  font-size: 400%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(350px) rotateX(18deg);
          transform: perspective(350px) rotateX(18deg);
}

.star::after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background-image: -webkit-linear-gradient(top, black 0%, transparent 100%);
  background-image: -o-linear-gradient(top, black 0%, transparent 100%);
  background-image: linear-gradient(top, black 0%, transparent 100%);
}

.star .star-content {
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 200s linear 0s infinite;
          animation: scroll 200s linear 0s infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  text-align: center;
}

.star .star-content h4 {
  padding-bottom: 40px;
}

.star .star-content p {
  text-align: start;
}

@-webkit-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -10%;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -10%;
  }
}
/*# sourceMappingURL=style.css.map */