* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: auto;
    width: 1280px;
}

.head a {
    font-size: 80px;
    line-height: 94px;
    color: rgb(38, 207, 207);
}

.head-logo span {
    color: black;
}

.menu-head {
    margin-top: 40px;
    background: #35444F;
    display: flex;
    justify-content: center;
    width: 1280px;
}

.menu-head a {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.menu-head li {
    padding: 25px 35px 20px;
    border-left: 1px solid white;
}

.menu-head li:hover {
    padding: 25px 35px 20px;
    border-left: 1px solid white;
    background: #222F3A;
}

.head {
    display: flex;
    flex-wrap: wrap;
}

.menu-left {
    width: 350px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-left a {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    font-weight: 550;
}

.menu-left li {
    padding: 25px 80px 25px 45px;
}

.menu-left li:hover {
    padding: 25px 0 25px 75px;
    transition: all 500ms;
}

.menu-left a:hover {
    font-weight: bold;
}

main {
    margin-top: 50px;
    display: flex;
}

.icon {
    flex-wrap: wrap;
    margin-left: 40px;
}

.icon-container {
    border: 1px solid black;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    transition: all 700ms;
}

img:hover {
    width: 340px;
    height: 400px;
    transition: all 700ms;
}

.icon-text {
    width: 888px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
    height: 260px;
    font-weight: 550;
}

.foot-block {
    background-color: rgba(99, 105, 110, 0.48);
}

.menu-bottom-link {
    display: flex;
}

.menu-bottom-link li {
    color: #010101;
    padding: 25px 25px 20px;
}

.menu-bottom-link a {
    font-size: 24px;
    line-height: 27px;
    color: #0C1927;
    font-weight: bold;
}

.last-child {
    margin-left: auto;
}

.menu-bottom-link a:hover {
    font-size: 24px;
    line-height: 27px;
    color: #1a6ac0;
    border-bottom: 3px solid #1a6ac0;
    padding-bottom: 10px;
    transition: all 500ms;
}