* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}


/* # sourceMappingURL=style.css.map */

body {
    background: url(/HW5/img/background\ 1.png) no-repeat center;
    background-size: cover;
}

.head-content {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    margin: 45px auto 17px;
}

.head-content p,
a {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.milan p {
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-block {
    display: flex;
}

.logo-block:hover p {
    color: #F26522;
    transition: 500ms;
}

.logo-block:hover .logo-img {
    display: block;
    background-image: url(/HW5/img/logo\ orang.png);
    transition: 500ms;
}

.logo-img {
    background-image: url(/HW5/img/logo\ withe.png);
    width: 53px;
    height: 47px;
}

.logo-block-text {
    margin-left: 6px;
}

.holidays {
    padding-top: 3px;
}

.logo-block-contacs a {
    display: block;
}

.logo-block-contacs a:hover {
    color: #F26522;
    transition: 500ms;
}

.tel {
    padding-top: 19px;
    text-align: end;
}

.galery {
    width: 1030px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: auto;
    grid-column-gap: 65px;
    grid-row-gap: 17px;
    align-content: space-between;
    text-align: center;
    margin: auto;
}

.galery-item {
    display: block;
    width: 300px;
    height: 280px;
    position: relative;
}

.galery-item img {
    width: 300px;
    height: 220px;
}

.galery-item p {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 20px 0 20px;
}

.foot {
    text-align: center;
}

.foot p {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 50px auto 15px;
}

.galery-item-cell {
    background: #F26522;
    width: 300px;
    height: 55px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    margin-top: -117px;
    visibility: hidden;
}

.galery-item-cell p {
    color: #FFFFFF;
}

.galery-item:hover p {
    transition: 500ms;
}

.galery-item:hover .galery-item-cell {
    visibility: visible;
}

.galery-item:hover {
    transition: 500ms;
}

.from {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    text-align: left;
}

.money {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-left: 16px;
    text-align: left;
}

.Details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: -14px;
    margin-right: 14px;
    text-align: right;
}

.Details::after {
    content: ">";
    color: white;
    padding-left: 16px;
}