* {
    box-sizing: border-box;
    text-decoration: none;
}


/* @font-face {
    font-family: 'Montserrat-Bold';
    src: url('/DZ/2/fonts/Montserrat-Bold.eot');
    src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */

body {
    font-family: 'Montserrat-Bold', sans-serif;
    width: 1280px;
}

.nav-menu {
    width: 100%;
    height: 80px;
}

.nav-menu ul {
    padding: 31px 330px;
    display: flex;
    justify-content: space-between;
}

.nav-menu a {
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    height: 1200px;
}

.img-centr {
    width: 100%;
}

.title h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
}

.title {
    text-transform: uppercase;
    padding: 50px 250px 0 250px;
    text-align: center;
}

.subtitle {
    padding-top: 40px;
    align-items: center;
}

.subtitle-p1 {
    margin: 0 70px;
}

.subtitle-p2 {
    margin: 30px 70px;
    text-align: center;
}

.button {
    padding-top: 15px;
    width: 190px;
    height: 50px;
    border: 1px solid;
    border-radius: 7px;
    color: black;
    background: #FF0000;
    text-align: center;
    margin: 30px auto 0;
}

.button a {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
}

footer p {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 110px 30px 700px;
    letter-spacing: 2px;
}

p {
    text-indent: 20px;
}