* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url('/HW6/img/Фон\ 1.png') no-repeat center;
    background-size: cover;
}

header {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    align-items: center;
    a:hover {
        color: #01813F;
        transition: 300ms;
    }
    .header-icon {
        width: 120px;
        height: 23px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 25px;
        svg:hover * {
            fill: #01813F;
            transition: 300ms;
        }
    }
    .header-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 80px;
        p.Welcome {
            padding: 0 2px 0 0;
        }
        p.or {
            padding: 0 2px;
        }
    }
    p {
        font-size: 14px;
        line-height: 14px;
    }
    .header-link::before {
        content: '';
        display: block;
        width: 1px;
        height: 19px;
        background: rgba(255, 255, 255, 0.9);
        margin-right: 25px;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .JOURNEY {
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        padding: 18px 0 18px 80px;
    }
    a {
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }
}

.my-form-block {
    width: 445px;
    background: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 55px auto 75px;
    position: relative;
    .singup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h2 {
            font-size: 20px;
            line-height: 20px;
            color: #434343;
            font-weight: 700;
        }
        a {
            display: block;
            font-size: 14px;
            line-height: 14px;
            color: #3CB878;
            &:hover {
                text-decoration: underline;
                color: #01813F;
            }
        }
    }
    .social {
        display: flex;
        justify-content: space-between;
        .facebook {
            text-align: center;
            img {
                padding-right: 30px;
                margin-bottom: -5px;
            }
            a {
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
                padding: 17px 20px 17px 17px;
                background: #305DB8;
                border-radius: 4px;
                &:hover {
                    background: #022263;
                    transition: 300ms;
                }
            }
        }
        .google {
            img {
                padding-right: 30px;
            }
            a {
                font-size: 16px;
                line-height: 16px;
                color: #FFFFFF;
                padding: 17px 20px 16px 17px;
                background: #DF4A32;
                border-radius: 4px;
                margin-top: -2px;
                &:hover {
                    background: #AB1F09;
                    transition: 300ms;
                }
            }
        }
    }
}

.my-form-block-items {
    padding: 35px 60px;
}

.my-form-block-items h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    &::before {
        content: '';
        width: 145px;
        height: 1px;
        background: #F2F2F2;
        padding-right: 5px;
    }
    &::after {
        content: '';
        padding-left: 5px;
        width: 145px;
        height: 1px;
        background: #F2F2F2;
    }
}

.green-square {
    width: 20px;
    height: 20px;
    background: #3CB878;
    position: absolute;
    top: 35px;
}

.my-form {
    input {
        border: none
    }
    .my-form-items {
        display: block;
        width: 100%;
        height: 45px;
        margin-bottom: 15px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        padding-left: 20px;
        &:focus {
            color: #434343;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
            font-weight: 600;
        }
    }
    .but {
        display: block;
        width: 100%;
        height: 45px;
        border-radius: 4px;
        background: rgba(60, 184, 120, 0.8);
        margin-top: 20px;
        border: 1px solid #F2F2F2;
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            background: #01813F;
            transition: 300ms;
        }
    }
    p {
        display: inline;
    }
    a {
        color: #3CB878;
    }
}