@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: url("/HW6/img/Фон 1.png") no-repeat center;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a:hover {
  color: #01813F;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

header .header-icon {
  width: 120px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: 25px;
}

header .header-icon svg:hover * {
  fill: #01813F;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

header .header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

header .header-link p.Welcome {
  padding: 0 2px 0 0;
}

header .header-link p.or {
  padding: 0 2px;
}

header p {
  font-size: 14px;
  line-height: 14px;
}

header .header-link::before {
  content: '';
  display: block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  margin-right: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

header .JOURNEY {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  padding: 18px 0 18px 80px;
}

header a {
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.my-form-block {
  width: 445px;
  background: white;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: 55px auto 75px;
  position: relative;
}

.my-form-block .singup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.my-form-block .singup h2 {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  font-weight: 700;
}

.my-form-block .singup a {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #3CB878;
}

.my-form-block .singup a:hover {
  text-decoration: underline;
  color: #01813F;
}

.my-form-block .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-form-block .social .facebook {
  text-align: center;
}

.my-form-block .social .facebook img {
  padding-right: 30px;
  margin-bottom: -5px;
}

.my-form-block .social .facebook a {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 17px 20px 17px 17px;
  background: #305DB8;
  border-radius: 4px;
}

.my-form-block .social .facebook a:hover {
  background: #022263;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.my-form-block .social .google img {
  padding-right: 30px;
}

.my-form-block .social .google a {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 17px 20px 16px 17px;
  background: #DF4A32;
  border-radius: 4px;
  margin-top: -2px;
}

.my-form-block .social .google a:hover {
  background: #AB1F09;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.my-form-block-items {
  padding: 35px 60px;
}

.my-form-block-items h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.my-form-block-items h3::before {
  content: '';
  width: 145px;
  height: 1px;
  background: #F2F2F2;
  padding-right: 5px;
}

.my-form-block-items h3::after {
  content: '';
  padding-left: 5px;
  width: 145px;
  height: 1px;
  background: #F2F2F2;
}

.green-square {
  width: 20px;
  height: 20px;
  background: #3CB878;
  position: absolute;
  top: 35px;
}

.my-form input {
  border: none;
}

.my-form .my-form-items {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-left: 20px;
}

.my-form .my-form-items:focus {
  color: #434343;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  font-weight: 600;
}

.my-form .but {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  margin-top: 20px;
  border: 1px solid #F2F2F2;
  color: #FFFFFF;
  cursor: pointer;
}

.my-form .but:hover {
  background: #01813F;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.my-form p {
  display: inline;
}

.my-form a {
  color: #3CB878;
}
/*# sourceMappingURL=style.css.map */