* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.nav {
    background: #313131;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    text-transform: uppercase;
    margin: auto;
}

.nav-menu-link {
    padding-left: 25px;
    color: #FFFFFF;
}

.nav p {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.logo {
    width: 27px;
    height: 27px;
    margin: 20px 25px;
}

.search {
    width: 70px;
    height: 70px;
    background: #000000;
    text-align: center;
}

.search-item {
    width: 17px;
    height: 17px;
    margin-top: 26px;
}

.nav-menu-link:hover {
    color: #14B9D5;
    transition: 500ms;
}

.LATEST-NEWS {
    height: 370px;
    background: url(../img/header-bg.jpeg) no-repeat center;
    text-align: center;
    background-size: cover;
}

.LATEST-NEWS p {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 165px;
}

.button {
    margin: 45px auto 0;
    width: 340px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.button-link {
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #89CA62;
    transition: 500ms;
}

.button-link:hover {
    background: #14B9D5;
}

.Most-post {
    background: #F2F2F2;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
}

.Most-post h2 {
    padding: 50px 0 20px;
}

.Most-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 1000px;
}

.Most-content::before,
.Most-content::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.Most-item {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 370px;
    margin: 30px;
}

.Most-item p {
    padding: 21px 0;
}

.Most-item:nth-child(1) {
    order: 1;
}

.Most-item:nth-child(2) {
    order: 3;
}

.Most-item:nth-child(3) {
    order: 5;
}

.Most-item:nth-child(4) {
    order: 1;
}

.Most-item:nth-child(5) {
    order: 4;
}

.Most-item:nth-child(6) {
    order: 6;
}

.most-clients {
    height: 590px;
    background: url(../img/parallax-bg.jpeg) no-repeat center;
    text-align: center;
    background-size: cover;
}

.most-clients p {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 100px;
}

.most-clients p::after {
    content: "";
    border-bottom: 3px solid #18B4CF;
    width: 60px;
    display: block;
    margin: auto;
    padding-top: 90px;
}

.clients {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 55px;
    align-items: center;
    padding-top: 100px;
}

.galery {
    text-align: center;
}

.galery-items {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
}

.galery h2 {
    margin: 50px auto;
}

.hot-news {
    text-align: center;
}

.hot-news h2 {
    margin: 50px auto;
}

.hot-news-block {
    width: 1150px;
    margin: auto;
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
}

.hot-news-block h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.hot-news-block p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-item-one {
    width: 860px;
    height: 260px;
    display: flex;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 1/4;
    grid-row: 1/2;
}

.news-title-one {
    padding-right: 25px;
    text-align: end;
}

.news-title-one h3 {
    padding: 40px 0 15px 0;
}

.news-item-two {
    width: 280px;
    height: 260px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 4/5;
    grid-row: 1/2;
}

.news-item-two h3 {
    padding: 10px 25px 15px;
}

.news-item-three {
    width: 555px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 1/3;
    grid-row: 2/3;
}

.news-title-three {
    padding-right: 15px;
    text-align: end;
}

.news-title-three h3 {
    padding: 8px 0 10px 0;
}

.news-item-four {
    width: 555px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 3/5;
    grid-row: 2/3;
    justify-self: end;
}

.news-title-four {
    padding-right: 15px;
    text-align: end;
}

.news-title-four h3 {
    padding: 8px 0 10px 0;
}

.news-item-five {
    width: 555px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 1/3;
    grid-row: 3/4;
}

.news-title-five {
    padding-right: 15px;
    text-align: end;
}

.news-title-five h3 {
    padding: 8px 0 10px 0;
}

.news-item-six {
    width: 555px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: end;
}

.news-title-six {
    padding-right: 15px;
    text-align: end;
}

.news-title-six h3 {
    padding: 8px 0 10px 0;
}

.news-item-seven {
    width: 280px;
    height: 260px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 1/3;
    grid-row: 4/5;
}

.news-item-seven h3 {
    padding: 10px 25px 15px;
}

.news-item-eight {
    width: 860px;
    height: 260px;
    display: flex;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    grid-column: 2/5;
    grid-row: 4/5;
}

.news-title-eight {
    padding-right: 25px;
    text-align: end;
}

.news-title-eight h3 {
    padding: 40px 0 15px 0;
}

.foot-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: #000000;
}

.foot-block p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}